<%= form_tag user_event_ticket_types_path(@event.id), method: :post do %>
<fieldset class="form-group">
  <label>Name</label>
  <%= text_field_tag 'ticket_type[name]', nil, class: 'form-control' %>
</fieldset>
<fieldset class="form-group">
  <label>Price</label>
  <%= number_field_tag 'ticket_type[price]', nil, class: 'form-control' %>
</fieldset>
<fieldset class="form-group">
  <label>Max quantity</label>
  <%= number_field_tag 'ticket_type[max_quantity]', nil, class: 'form-control' %>
</fieldset>
<%= submit_tag 'Save', class:'btn btn-primary' %>
<% end %>
